<!DOCTYPE html>
<html>
  <head>
    <title>dogs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
 
      <% if(img_src === '') { %>
        <a><%= img_src_err %></a>
      <% } else { %>
        <img src="<%= img_src %>"></img>
    <% } %>
   
  </body>
</html>
