<!DOCTYPE html>
<html>

<head>
  <title>Hello</title>
  <link rel="icon" type="image/png"
    href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Check_green_icon.svg/323px-Check_green_icon.svg.png" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  
  <h1>HELLO!</h1><br>

  <p>NAME: <%=_id %></p>
  <p>IP: <%=ip %></p>
  <p>OS: <%=os %></p>
  <p>BROWSER: <%=browser %></p>
  <br><br>
  <div class="urls"></div>
  <br><br>
  <a href="/info/">Show more</a>
  
  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js"></script>
  <script src="/main.js"></script>

</body>

</html>