<!DOCTYPE html>
<html>
  <head>
    <title>Articles </title>
    <link rel="icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Check_green_icon.svg/323px-Check_green_icon.svg.png" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Fill article</h1>
    <div class="main">

      <form class="mainform">
        <label for="fname">Title:</label>
        <input type="text" placeholder="" name="title"><br><br>
        <label for="fname">Text:</label>
        <input type="text" placeholder="" name="text"><br><br>
        
        <div>
          <button type="submit">OK</button>
        </div><br><br>
      </form>
      <div class="answ"></div><br><br>

     
    
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js"></script>
    <script src="/mainArt.js"></script>
  
  </body>
</html>