<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="icon" type="image/png"
    href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Check_green_icon.svg/323px-Check_green_icon.svg.png" />
  <link rel='stylesheet' href="/stylesheets/style.css" />
</head>

<body>
  <div class="main">
    <select id="movies">
      <%if(typeof(results) !== 'undefined') {%>
        <% for (let i =0; i <results.length;  i++ ) { %>
          <option><%= results[i].title %></option>
        <% } %>
      <% } %>
        </select>
      <button type="button" class="btnOK">OK</button>
  </div>

  <div class="loader" style="<%- loader_disp %>"><img src="/images/loader.gif" alt=""></div>
  
  <ul class="list">
    <% if(typeof(names) !== 'undefined') {%>
      <% for (let i = 0; i <names.length;  i++ ) { %>
        <li><%= names[i] %> </li>
      <% } %>
    <% } %>
  </ul>


</body>
<script src='/javascripts/main.js'></script>

</html>