.App {
  text-align: center;
}
.player  {
  width: 330px;
  height: 150px;
  border: 1px solid grey;
  margin: 10px;
}
.timer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid grey;
  width: 320px;
  height: 70px;
  margin: 5px auto;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}
.time {
  position: absolute;
  width: 120px;
  height: 40px;
  font-size: 17px;
  font-weight: bold;
  margin: 15px 15px 0 15px;
  text-align: center;
  top: 97px;
  margin-left: 25px;
}
input {
  margin: 1.2rem 0;
  border-radius: 5px;
  border: 1px solid darkgrey;
} 
.timer-animation { 
  width: 60px;
  height: 60px;
  font-size: 1.8em;
} 

