.App {
  text-align: center;
}

.main  {
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 4px solid rgb(233, 33, 49);
  margin: 20px;
}
.swapi {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid rgb(31, 174, 218);
  width: 400px;
  min-height: 200px;
  padding: 10px;
  margin: 20px;
  text-align: center;
 
}
input {
  width: 150px;
  height: 30px;
  font-size: 20px;
  border: 4px solid rgb(221, 16, 43);
}

li {
  pointer-events: auto;
  cursor: pointer;
}
.info {

  font-size: 10;
  z-index: 10;
  width: 300px;
  text-align: left;
  background-color: antiquewhite;
  border: 2px solid rgb(214, 209, 209);
  border-radius: 5px;
  box-shadow: 5px 5px #d8d5d5;
}